# Build Artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Data & Large Folders (The "Size Killers")
legacy/
notebooks/
outputs/
end2end_board_classifier_new_data/
streamlit_ui/

# Dev/IDE
.git/
.gitignore
.vscode/
.idea/

# Specific Files
api/tests/
api/BOARD2FEN API.postman_collection.json